body {
    font-family: impact;
    color: white;
    background: radial-gradient(circle, black 80%, rgb(250, 100, 0));;
}

body:hover {
    color: rgb(250, 100, 0)
}

nav {

}

nav li {
    display: inline-block;
    list-style: none;
    text-align: center;
    flex-grow: 1;
}

.title {
    font: 

}