body {
    font-family: courier, monospace;
    color:rgba(228, 219, 200, 0.733);
    background: linear-gradient(45deg, black 60%, rgb(250, 100, 0));;
}

.align {
    text-align: center;
}

nav {

}

nav li {
    display: inline-block;
    list-style: none;
    text-align: center;
    flex-grow: 1;
}

h1 {
    animation-name: colorchg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colorchg {
    0% {color: rgb(255,100,0); }
    50% {color: rgba(228, 219, 200, 0.733); }
    100% {color: rgb(255,100,0); }
}

h1:hover {
    transform: scale(4,4);
}

footer {
}
